extends layout

block content
    div(class="w3-container")
        div(class="w3-container w3-blue")   
            h1 Xfichas: gestor de fichas práticas
        section(class="w3-container")
            ul(class="w3-ul")
                li
                    i(class="material-icons") navigate_next
                    a(href="/fichas/ficha") Gerar ficha;
                li
                    i(class="material-icons") navigate_next
                    a(href="/fichas") Listar fichas geradas.
        hr(width="80%")
        footer(class="w3-container w3-blue")
          h5 Front-End da aplicação XFichas por JCR em 2013-02-26 (up. 2018-02-07).
